@import "node_modules/bootstrap/scss/bootstrap";
@import "fonts";

$font-size: 14px;
$grey: #dcdcdc;
$dark-grey: #767676;
$darker-grey: #777777;
$white: #ffffff;


* {
  box-sizing: border-box;
}

html, body {
  font-size: $font-size;
  color: $dark-grey;
  font-family: 'PT Sans', sans-serif;
}

ul, li {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 5rem;
  line-height: 5.3333rem;
}

h2 {
  font-size: 3.3333rem;
  font-family: 'Motter Corpus', sans-serif;
  line-height: 4rem;
}

h3 {
  font-size: 2.8333rem;
  font-weight: 900;
  line-height: 3rem;
}

a {
  color: $dark-grey;

  &:hover {
    color: $dark-grey;
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-condlight-webfont.eot');
  src: url('../fonts/opensans-condlight-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/opensans-condlight-webfont.woff') format('woff'),
  url('../fonts/OpenSans-CondLight.ttf') format('truetype'),
  url('../fonts/opensans-condlight-webfont.svg#a_avantebsitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}


//**************

.header {
  padding: 65px 0 72px 0;
  background-color: #dcdcdc;

  a {
    font-size: 3.5714rem;
    line-height: 3.2857rem;

    &:first-child {
      margin-bottom: 9px;
    }
  }

  p {
    font-size: 1.7143rem;
    line-height: 3.2857rem;
  }

  .modal_link {
    font-size: 1.7143rem;
    font-weight: bold;
  }

  .wrap {
    a:not(.modal_link) {
      font-family: 'Open Sans', sans-serif !important;
    }

    @media screen and (max-width: 991px) {
      margin-top: 30px;
    }
  }
}

///////////////////////////////main menu/////////////////////////////////////////////////

.menu {
  padding: 26px 0;
  background-color: $darker-grey;
  color: $white;

  .navbar-nav li:last-child {
    border-right: none;
  }

  .nav-link {
    font-size: 2.1429rem;
    line-height: 2.1429rem;
    padding: 0;
    color: $white;
    letter-spacing: 3px;
    border-bottom: 1px solid transparent;
    transition: 0.8s;

    &:hover {
      border-bottom: 1px solid $white;
    }
  }

  .nav-item {
    border-right: 1px solid transparent;
    padding: 0 3px;

    @media (min-width: 1200px) {
      padding: 0 9px;
    }

    @media (min-width: 992px) {
      border-right: 1px solid #ffffff;
    }

    @media (max-width: 991px) {
      padding-bottom: 10px;
    }
  }
}

.logo {
  cursor: pointer;
}

.navbar-toggler {
  width: 55px;
  height: 60px;
}

.navbar-toggler-icon {
  position: relative;
  //top: 10px;
  right: -5px;
  width: 45px;
  transform: translate(-50%, -50%);
}

.navbar-toggler-icon:before,
.navbar-toggler-icon:after,
.navbar-toggler-icon div {
  content: "";
  display: block;
  height: 6px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
  background: $white;
}

.navbar-toggler-icon:hover:before {
  transform: translateY(12px) rotate(135deg);
}

.navbar-toggler-icon:hover:after {
  transform: translateY(-12px) rotate(-135deg);
}

.navbar-toggler-icon:hover div {
  transform: scale(0);
}

.navbar-toggler {
  color: rgba(0, 0, 0, .5);
}


@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }
}


///////////////////////////////slider/////////////////////////////////////////////////

.carousel {
  background-color: #f8f8f8;
}

.carousel-cell {
  width: 100%;
  height: 610px;
  margin-right: 10px;
  text-align: center;
  margin-bottom: 10px;

  @media screen and (max-width: 1000px) {

  }
}

.carousel-cell img {
  height: 100%;
}

.flickity-prev-next-button.next {
  right: 23%;
}

.flickity-prev-next-button.previous {
  left: 23%;
}

.flickity-page-dots {
  bottom: 0;
}

.breadcrumb {
  background: none;

  a {
    font-size: 1rem;
  }

}

///////////////////////////////content/////////////////////////////////////////////////

.content {
  margin-bottom: 200px;

  .col-sm-3 ul li a:hover {
    border-bottom: 1px solid black;
  }

  .col-sm-3 .wrap ul:not(.inner_list) {
    list-style-type: none;

    @media screen and (max-width: 575px) {
      margin-bottom: 20px;
    }
  }

  .col-sm-3 .wrap a:not(.inner_link) {
    font-size: 1.2857rem;
  }

  .inner_list {
    margin-left: 30px;

    @media screen and (max-width: 575px){
      margin-left: 0;
      list-style-type: none;
    }
  }

  .col-sm-3 img {
    margin-top: 100px;
    cursor: pointer;

    @media screen and (max-width: 575px) {
      display: none;
    }
  }

}

///////////////////////////////catalog/////////////////////////////////////////////////
.catalog_list {
  list-style-type: none;

  @media screen and (max-width: 767px) {
    width: 75%;
    margin: 0 auto;
  }

  div[class^="col"] {
    padding: 0 10px;
  }

  .catalog_item {
    min-height: 380px;
    background-color: $grey;
    font-size: 1.2857rem;
    margin-bottom: 20px;

    &_wrap {
      padding: 20px;

      img + p {
        padding: 20px 0 58px 0;
      }

      span {
        font-size: 1.8571rem;
        font-weight: bold;
        color: #444444;
        cursor: pointer;
      }

    }
  }

  .catalog_icon {
    width: 28px;
    height: 21px;
    margin: 9px 7px 0 0;
    transition: 0.5s;

    &:hover {
      transform: scale(1.2);
    }
  }

}

.catalog_list_small {
  list-style-type: none;
}

.catalog_description {
  line-height: 1.7143rem;
  margin-top: 30px;
}

.pagination_wrap {
  padding-bottom: 67px;
  border-bottom: 1px solid $darker-grey;

}

.page-item {
  padding: 0 5px;
}

.page-link {
  color: $dark-grey;
  border: none;
  transition: 0.5s;

  &:hover {
    transform: scale(1.4);
    color: $dark-grey;
  }
}

.footer {
  padding: 50px 0;
  background-color: $darker-grey;
  color: $white;

  span {
    border-bottom: 1px solid $white;
    line-height: 1.5714rem;
  }

  ul {
    list-style-type: none;

    li {
      margin-bottom: 5px;
    }

    a {
      border-bottom: 1px solid $white;

    }
  }

  &_mail {
    margin-top: 7px;
    display: block;
  }

  a {
    color: $white;
  }
}

.modal {
  h2 {
    font-size: 1.7143rem;
    color: #535353;
  }

  .close, .modal-header {
    margin: 0;
    padding: 0;
  }
}

.modal-header, .modal-footer {
  border: none;
}

.modal-content {
  padding: 35px 62px 25px 62px;

  input {
    height: 40px;
    border-radius: 0;
  }

  .invalid-feedback {
    font-size: 100%;
  }

  textarea {
    resize: none;
  }

  .modal_submit_btn {
    width: 128px;
    height: 40px;
    border-radius: 0;
    background-color: $darker-grey;
    color: $white;
    font-size: 1.2857rem;
    text-transform: uppercase;
  }

  .btn:focus, .btn.focus {
    box-shadow: none;
  }
}
