doctype html
html(lang='ru')
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Test
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet")
        link(rel='stylesheet' href='https://unpkg.com/flickity@2.3.0/dist/flickity.css')
        link(rel='stylesheet' href='./css/style.css')
    body#top
        header.header
            .container
                .row
                    .col-lg-6.col-12
                        .logo.text-center.text-lg-left
                            img(src='./images/logo_main.png' alt='main logo')
                    .col-lg-6.col-12
                        .wrap.text-center.text-lg-right.d-flex.flex-column
                            a(href='tel:+74997777777') +7(499) 777-77-77 <br>
                            a(href='tel:+74997777777') +7(499) 777-77-77
                            a(href='#' data-toggle="modal" data-target="#exampleModal").modal_link Обратная связь
        section.menu
            .container
                nav.navbar.navbar-expand-lg
                    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                        .navbar-toggler-icon
                            div
                    #navbarNav.collapse.navbar-collapse
                        ul.navbar-nav.mx-auto
                            li.nav-item.text-center.text-lg-left
                                a.nav-link(href='#') Главная
                            li.nav-item.text-center.text-lg-left
                                a.nav-link(href='#') Каталог
                            li.nav-item.text-center.text-lg-left
                                a.nav-link(href='#') Доставка и оплата
                            li.nav-item.text-center.text-lg-left
                                a.nav-link(href='#') Прайс-лист
                            li.nav-item.text-center.text-lg-left
                                a.nav-link(href='#') Контакты
        section.carousel
            .main-carousel
                .carousel-cell
                    img(src='./images/slider_bg.png')
                .carousel-cell
                    img(src='./images/slider_bg.png')
                .carousel-cell
                    img(src='./images/slider_bg.png')
        main.content
            .container
                nav(aria-label='breadcrumb')
                    ol.breadcrumb
                        li.breadcrumb-item
                            a(href='#') Главная
                        li.breadcrumb-item
                            a(href='#') Каталог
                        li.breadcrumb-item.active(aria-current='page') Бытовая техника
                .row
                    .col-sm-3
                        .wrap
                            ul.catalog_list_small.text-center.text-sm-left
                                li
                                    a(href='#') Автомобили
                                li
                                    a(href='#') Бытовая техника
                                    ul.inner_list
                                        li
                                            a(href='#').inner_link Микроволновки
                                        li
                                            a(href='#').inner_link  Холодильники
                                        li
                                            a(href='#').inner_link  Посудомоечные машины
                                        li
                                            a(href='#').inner_link  Чайники
                                li
                                    a(href='#') Мобильная техника
                                li
                                    a(href='#') Компьютеры
                                li
                                    a(href='#') Одежда
                                li
                                    a(href='#') Недвижимость
                            img(src='./images/logo_price.png').logo
                    .col-sm-9
                        .wrap
                            ul.catalog_list
                                .row.row-cols-lg-3.row-cols-md-2.row-cols-1
                                    .col
                                        li.catalog_item.text-md-left.text-center
                                            .catalog_item_wrap
                                                img(src='./images/catalog_photo.jpg' alt='catalog photo').mx-auto.d-block
                                                p Самый клевый чайник, который надо купить!
                                                .catalog_price.d-flex.justify-content-between
                                                    span 1 900 р.
                                                    a(href='#')
                                                        img(src='./images/icon_basket.png' alt='icon basket').catalog_icon
                                    .col
                                        li.catalog_item
                                            .catalog_item_wrap
                                                img(src='./images/catalog_photo.jpg' alt='catalog photo').mx-auto.d-block
                                                p Самый клевый чайник, который надо купить!
                                                .catalog_price.d-flex.justify-content-between
                                                    span 1 900 р.
                                                    a(href='#')
                                                        img(src='./images/icon_basket.png' alt='icon basket').catalog_icon
                                    .col
                                        li.catalog_item
                                            .catalog_item_wrap
                                                img(src='./images/catalog_photo.jpg' alt='catalog photo').mx-auto.d-block
                                                p Самый клевый чайник, который надо купить!
                                                .catalog_price.d-flex.justify-content-between
                                                    span 1 900 р.
                                                    a(href='#')
                                                        img(src='./images/icon_basket.png' alt='icon basket').catalog_icon
                                    .col
                                        li.catalog_item
                                            .catalog_item_wrap
                                                img(src='./images/catalog_photo.jpg' alt='catalog photo').mx-auto.d-block
                                                p Самый клевый чайник, который надо купить!
                                                .catalog_price.d-flex.justify-content-between
                                                    span 1 900 р.
                                                    a(href='#')
                                                        img(src='./images/icon_basket.png' alt='icon basket').catalog_icon
                                    .col
                                        li.catalog_item
                                            .catalog_item_wrap
                                                img(src='./images/catalog_photo.jpg' alt='catalog photo').mx-auto.d-block
                                                p Самый клевый чайник, который надо купить!
                                                .catalog_price.d-flex.justify-content-between
                                                    span 1 900 р.
                                                    a(href='#')
                                                        img(src='./images/icon_basket.png' alt='icon basket').catalog_icon
                        nav(aria-label='Page navigation example').pagination_wrap
                            ul.pagination.justify-content-center
                                li.page-item
                                    a.page-link(href='#') 1
                                li.page-item
                                    a.page-link(href='#') 2
                                li.page-item
                                    a.page-link(href='#') 3
                                li.page-item
                                    a.page-link(href='#') 4
                                li.page-item
                                    a.page-link(href='#') 5
                                li.page-item
                                    a.page-link(href='#') 6
                                li.page-item
                                    a.page-link(href='#') 7
                        .row
                            .col-6
                                p.catalog_description Компания «Пиксель Плюс» существует более 6 лет, за это время мы принимали участие в разработке более
                                  | чем 700 сайтов, поэтому можем уверенно называть себя профессионалами. На данный момент наш коллектив
                                  | состоит из более чем 30 сотрудников работающих в двух офисах в Москве и Зеленограде.характерные для
                                  | этого жанра мотивы: неразделённой любви, ухода молодости, угасания души.
                            .col-6
                                p.catalog_description Одним из основных направлений работ нашей компании является поисковое продвижение сайтов, на данной
                                  | момент мы работаем с более чем 150 постоянными клиентами по более чем 11 000 поисковым запросам. При этом
                                  | в работе основной акцент мы делаем на качестве работ, а так же применяем собственные уникальные разработки
                                  | в области SEO продвижения. На данный момент отдел SEO состоит из 9 человек под руководством ведущего специалиста, преимущественно
                                  | работающих в нашем московском офисе.
        footer.footer
            .container
                .row
                    .col-sm-4.col-12.text-sm-left.text-center.order-1.order-sm-0
                        .box
                            p © 2012–2013 ЗАО «Компания»
                            a(href='mailto:info@name.ru').footer_mail info@name.ru
                    .col-sm-4.col-12.text-sm-left.text-center.mb-3.mb-sm-0
                        .box
                            ul
                                li
                                    a(href='#') Главная
                                li
                                    a(href='#') Каталог
                                li
                                    a(href='#') Доставка и оплата
                                li
                                    a(href='#') Прайс-лист
                                li
                                    a(href='#') Контакты
                    .col-sm-4.col-12.mb-4.mb-sm-0
                        .box.d-flex.justify-content-sm-end.justify-content-center.mr-5
                            img(src='./images/logo_footer.png').mr-3
                            p <span>Разработка сайта</span> — <br> компания «Art-Sites»
        #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
            .modal-dialog(role='document')
                .modal-content
                    .modal-header
                        h2#exampleModalLabel.modal-title.text-uppercase.mx-auto Обратная связь
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body
                        form.needs-validation(novalidate='')
                            .form-group
                                label(for='validationCustom01').d-flex.justify-content-center Ваше имя *
                                input#validationCustom01.form-control(type='text' required='')
                                .invalid-feedback
                                    | Поле обязательно для заполнения
                            .form-group
                                label(for='validationCustom02').d-flex.justify-content-center Телефон *
                                input#validationCustom02.form-control(type='tel' required='')
                                .invalid-feedback
                                    | Поле обязательно для заполнения
                            .form-group
                                label(for='validationCustom03').d-flex.justify-content-center Email *
                                input#validationCustom03.form-control(type='text' required='')
                                .invalid-feedback
                                    | Поле обязательно для заполнения
                            .form-group
                                    label(for='exampleFormControlTextarea1').d-flex.justify-content-center Сообщение
                                    textarea#exampleFormControlTextarea1.form-control(required='' rows='3')
                            .form-check.mb-1
                            button.btn.modal_submit_btn(type='submit').d-block.mx-auto  Отправить


        script(src='./js/script.js')
